// global color tokens
$-clr-white: hsl(0 0% 100%);

$-clr-black: hsl(0 0% 0%);

$-clr-cream-100: hsl(28, 38%, 92%);
$-clr-cream-200: hsl(30, 38%, 82.5%);
$-clr-cream-300: hsl(30, 38%, 70%);
$-clr-cream-400: hsl(30, 38%, 60%);
$-clr-cream-500: hsl(30, 38%, 50%);
$-clr-cream-600: hsl(30, 38%, 40%);
$-clr-cream-700: hsl(30, 38%, 30%);
$-clr-cream-800: hsl(30, 38%, 17.5%);
$-clr-cream-900: hsl(30, 38%, 7.5%);

$-clr-deep-aquamarine-100: hsl(157, 36%, 90%);
$-clr-deep-aquamarine-200: hsl(157, 36%, 80%);
$-clr-deep-aquamarine-300: hsl(157, 36%, 70%);
$-clr-deep-aquamarine-400: hsl(157, 36%, 60%);
$-clr-deep-aquamarine-500: hsl(157, 36%, 50%);
$-clr-deep-aquamarine-600: hsl(157, 36%, 37%);
$-clr-deep-aquamarine-700: hsl(157, 36%, 30%);
$-clr-deep-aquamarine-800: hsl(158, 42%, 18%);
$-clr-deep-aquamarine-900: hsl(157, 36%, 7.5%);

$-clr-gray-blue-100: hsl(212, 21%, 95%);
$-clr-gray-blue-200: hsl(212, 21%, 82.5%);
$-clr-gray-blue-300: hsl(212, 21%, 70%);
$-clr-gray-blue-400: hsl(212, 21%, 60%);
$-clr-gray-blue-500: hsl(228, 12%, 48%);
$-clr-gray-blue-600: hsl(212, 21%, 40%);
$-clr-gray-blue-700: hsl(212, 21%, 30%);
$-clr-gray-blue-800: hsl(212, 21%, 14%);
$-clr-gray-blue-900: hsl(212, 21%, 7.5%);


$default: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-gray-blue-100,
    "200": $-clr-gray-blue-200,
    "300": $-clr-gray-blue-300,
    "400": $-clr-gray-blue-400,
    "500": $-clr-gray-blue-500,
    "600": $-clr-gray-blue-600,
    "700": $-clr-gray-blue-700,
    "800": $-clr-gray-blue-800,
    "900": $-clr-gray-blue-900,
    "1000": $-clr-black,
  ),
  "accent": (
    "100": $-clr-deep-aquamarine-100,
    "200": $-clr-deep-aquamarine-200,
    "300": $-clr-deep-aquamarine-300,
    "400": $-clr-deep-aquamarine-400,
    "500": $-clr-deep-aquamarine-500,
    "600": $-clr-deep-aquamarine-600,
    "700": $-clr-deep-aquamarine-700,
    "800": $-clr-deep-aquamarine-800,
    "900": $-clr-deep-aquamarine-900,
  ),
  "primary": (
    "100": $-clr-cream-100,
    "200": $-clr-cream-200,
    "300": $-clr-cream-300,
    "400": $-clr-cream-400,
    "500": $-clr-cream-500,
    "600": $-clr-cream-600,
    "700": $-clr-cream-700,
    "800": $-clr-cream-800,
    "900": $-clr-cream-900,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-1000: var(--neutral-1000);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);
$color-primary-700: var(--primary-700);
$color-primary-800: var(--primary-800);
$color-primary-900: var(--primary-900);

$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);
$color-accent-600: var(--accent-600);
$color-accent-700: var(--accent-700);
$color-accent-800: var(--accent-800);
$color-accent-900: var(--accent-900);
